/**********************************
GENERAL
***********************************/
body {
  font-family: 'Open Sans', sans-serif; }

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

/**********************************
HEADING
***********************************/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%; }

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em; }

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal; }

/**********************************
NAVIGATION
***********************************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0; }

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0; }

nav li {
  display: inline-block; }

nav a {
  font-weight: 800;
  padding: 15px 10px; }

/**********************************
FOOTER
***********************************/
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc; }

/**********************************
COLORS
***********************************/
/* site body */
body {
  background-color: #fff;
  color: #999; }

/* green header */
header {
  background: #6ab47b;
  border-color: #599a68; }

/* nav background on mobile */
nav {
  background: #599a68; }

/* logo text */
h1, h2 {
  color: #fff; }

/* links */
a {
  color: #6ab47b; }

/* nav link */
nav a, nav a:visited {
  color: #fff; }

/* selected nav link */
nav a.selected, nav a:hover {
  color: #32673f; }

/**********************************
MINE
***********************************/
.bgLayer {
  width: 1000px;
  background-color: white;
  height: 800px;
  margin: 0 auto; }

.centerLayer img {
  width: 400px;
  margin: 0 auto;
  margin-top: 15%; }

.centerLayer {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 50%; }

.mail {
  text-align: center;
  color: #272626; }

.shadowText {
  color: #cfcecc; }

.mailLink {
  text-align: center;
  color: #272626;
  top: 40%;
  position: absolute;
  z-index: 2000;
  margin: 0 auto;
  width: 100%; }