html {
  font-family: 'Open Sans', sans-serif;
  background-color: white; }

h1 {
  font-weight: 300; }

h2 {
  font-size: 1em;
  font-weight: 300; }

h3 {
  font-size: 1.2em;
  font-weight: 500; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.clear {
  clear: both; }

.navigation {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed; }

/* Logo to arrow */
.fixedWrap {
  position: fixed;
  background-color: green;
  z-index: 200;
  height: 100px;
  width: 300px; }

.logoWrap {
  position: fixed;
  width: 200px;
  height: 100px;
  top: 13px;
  transition: -webkit-transform .5s ease-in;
  -webkit-transform-style: preserve-3d; }

.logoWrap div {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  -webkit-backface-visibility: hidden;
  background-size: 163px 40px; }

.motiveLogo {
  width: 200px;
  background: url("../img/motiveLogo.svg");
  z-index: 100; }

.backArrow {
  background: url("../img/motiveBackArrow.svg");
  -webkit-transform: rotateX(-180deg);
  background-size: 100px 30px; }

.shift {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  transition: -webkit-transform .5s ease-in; }

/*  Menu Stuff  */
#menu {
  float: right;
  font-weight: 300 !important;
  color: white;
  font-size: 1.4em;
  margin-top: 2.6em; }

#menu li a {
  color: white; }

#menu li a:visited {
  color: white; }

#menu li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px; }

#menu li:hover {
  text-decoration: underline; }

#menu li:first {
  padding-left: none; }

#menu li:last-child {
  padding-right: none; }

#menu li.active {
  text-decoration: underline; }

/* HEADER IMAGE */
.headerImage {
  height: 600px;
  background-position: center;
  background-size: cover; }

.headerImage_iconArtworks {
background-image: url(../img/iconArtworksHeader.jpg); }

.headerImage_fitleaf {
  background-image: url(../img/fitleafHeader.png); }

.headerImage_goldworks {
  background-image: url(../img/goldworksHeader.png); }

/* PROJECT DESCRIPTION */
.projectDescription {
  color: #222;
  font-weight: 300;
  width: 45%;
  padding-left: 5%;
  background-color: white;
  padding-top: 120px;
  padding-bottom: 120px; }

.descriptionText h1 {
  margin-bottom: 0; }

.descriptionText h2 {
  margin-top: 0;
  font-weight: 500; }

/* DUAL IMAGE */
.dualImage {
  width: 100%; }

.leftImage {
  height: 600px;
  background-position: center;
  background-size: cover;
  float: left;
  width: 50%; }

.leftImage_iconArtworks {
  background-image: url(../img/iconArtworksLeft.png); }

.leftImage_iconArtworks2 {
  background-image: url(../img/iconArtworksLeft2.jpg); }


.leftImage_fitleaf {
  background-image: url(../img/fitleafLeft.png); }

.leftImage_fitleaf2 {
  background-image: url(../img/fitleafLeft2.png); }

.leftImage_goldworks {
  background-image: url(../img/goldworksZoom.png); }

.rightImage {
  height: 600px;
  background-position: center;
  background-size: cover;
  float: right;
  width: 50%; }

.rightImage_iconArtworks {
  background-image: url(../img/iconArtworksRight.png); }

.rightImage_iconArtworks2 {
  background-image: url(../img/iconArtworksRight2.jpg); }

.rightImage_fitleaf {
  background-image: url(../img/fitleafRight.png); }

.rightImage_fitleaf2 {
  background-image: url(../img/fitleafRight2.png); }

.rightImage_goldworks {
  background-image: url(../img/goldworksFull.png); }

/* SHOWCASE SECTION */
.showcase {
  height: 600px;
  background-position: center;
  background-size: cover; }

.showcase_iconArtworks {
  background-image: url(../img/iconArtworksShowcase.jpg); }

.showcase_iconArtworks2 {
  background-image: url(../img/iconArtworksShowcase2.jpg); 
  height: 900px;}

.showcase_iconArtworks3 {
  background-image: url(../img/iconArtworksShowcase3.jpg); }

.showcase_fitleaf1 {
  background-image: url(../img/fitleafOutline.png); }

.showcase_fitleaf2 {
  background-image: url(../img/fitleafPackaging.jpg); }

.showcase_fitleaf3 {
  background-image: url(../img/fitleafCenterCup.png); }

.showcase_goldworks {
  background-image: url(../img/goldworksLogoGuides.png); }

.showcase_goldworks2 {
  background-image: url(../img/goldworksLogo.png); }

.siteShowcase img {
  margin: 0 auto;
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%; }

  .siteShowcaseIconArtworks img {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%; }


/* DESCRIPTION ON LEFT, IMAGE RIGHT */
.descriptionImage {
  width: 100%;
  height: 600px;
  background-image: url(../img/imacImage.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: right; }

.descriptionImageText {
  width: 45%;
  padding-left: 5%;
  padding-top: 120px;
  padding-bottom: 120px; }

/* GET IN TOUCH */
.getInTouch {
  width: 100%;
  height: 300px;
  background-color: #efefef; }

.textAndButton {
  width: 300px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center; }

.textAndButton button {
  background-color: #3FE38A;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 15px 40px 15px 40px;
  border-radius: 3px; }

.textAndButton button:focus {
  outline: 0; }

.textAndButton button:hover {
  background-color: #3FC08A; }

/* PREVIOUS AND NEXT SECTION */
.prevousAndNext {
  width: 100%;
  height: 300px; }

.imageGradient {
  background-color: rgba(50, 50, 50, 0.6);
  height: 100%;
  width: 100%; }

.imageGradient:hover {
  background-color: rgba(50, 50, 50, 0.2); }

.previousWork {
  width: 50%;
  height: 300px;
  float: left;
  background-position: center;
  background-size: cover; }

.previousWorkFitleaf {
  background-image: url(../img/iconTeaser.png); }

.nextWork {
  width: 50%;
  height: 300px;
  float: right;
  background-position: center;
  background-size: cover; }

.nextWorkFitleaf {
  background-image: url(../img/niallTeaser.png); }

.previousWork h3 {
  margin: 0;
  padding-top: 180px;
  color: #efefef;
  padding-left: 10%; }

.previousWork h1 {
  margin: 0;
  color: white;
  padding-left: 10%; }

.nextWork h3 {
  margin: 0;
  padding-top: 180px;
  color: #efefef;
  padding-right: 10%;
  text-align: right; }

.nextWork h1 {
  margin: 0;
  color: white;
  padding-right: 10%;
  text-align: right; }

/* Responsive */
@media (max-width: 600px) {
  .leftImage {
    height: 400px; }

  .rightImage {
    height: 400px; }

  .projectDescription {
    width: 80%;
    padding: 50px 10%; }

  .showcase {
    height: 300px; }

  .descriptionImageText {
    display: none; } }

/*# sourceMappingURL=workStyle.css.map */
